{% extends 'jobportal/base.html' %}

    {% block title %}
        FlixCareers | Thankyou
    {% endblock title %}

{% block content %}
    <!-- job post lists -->
   <div class="container" style="height: 10em;
   position: relative ">
        <h1 style="margin: 0;
        color: #7281E0;
        
        position: absolute;
        top: 100%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)">
            Thankyou for Applying 
        </h1>
    </div>
{% endblock content %}